body {
  background-color: #121212;
  margin: 0;
  padding: 0;
}

.menu_container {
  position: absolute;
  top: 0;
  width: 350px;
  left: calc(50% - 175px);
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
  background: rgb(117, 117, 117);
  height: 60px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.menu_button {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: none;
  transition: 0.3s;
  background: #8a6eac;
}

.menu_button:hover {
  background: #7753a3;
}

.menu_button_active {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background: #03DAC6;
}
